.header{
background-color: whitesmoke;
display: flex;
justify-content: center;
height: 65px;
padding-top: 10px;
font-family: sans-serif;
}
#navigation{

    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    font-family: sans-serif;
}
.main-content{
    display: flex;
}
.left-bar{
    background-color: whitesmoke;
    height: 300px;
    margin-top: 10px;
    width: 15%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-bottom: 11px;
    margin-right: 8px;
    font-family: sans-serif;
}
.center{
    display: flex;
    background-color: whitesmoke;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 300px;
    margin-top: 10px;
    margin-right: 8px;
    font-family: sans-serif;
}
.right-bar{
    display: flex;
    background-color: whitesmoke;
    height: 298px;
    margin-top: 10px;
    width: 15%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}