.header{
background-color: whitesmoke;
display: flex;
justify-content: center;
height: 65px;
padding-top: 10px;
}
#navigation{

    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}
.main-content{
    display: flex;
}
.left-bar{
    background-color: whitesmoke;
    /* display: flex; */
    height: 300px;
    margin-top: 13px;
    width: 15%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.center{
    display: inline-flex;
    background-color: whitesmoke;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 300px;
    margin-top: 0px;
}
